.footer_colums { 
    margin: auto;
    display: flex;
    justify-content: space-between;  
    width: 90%;
    min-height: 350px;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #1f1f1f;  
}