.video_iframe:last-of-type {
    position: absolute;  
    bottom: -60px;
    right: 0;
}
    
.video_iframe:first-of-type {
    position: absolute;
    margin-right: 20px;
    bottom: -60px;
    left: 0;  
}