.header__title {
    margin: 0; 
    padding: 0;   
    line-height: 96px;
    font-size: 102px;
    font-weight: 600;    
    color: black;
    width: 730px;   
    margin-left: 64px;     
    align-self: center; 
    z-index: 3;  
}